.App {

  display: flex;
}

.style_son{
  width: 33.33%;
  border: 1px solid gray;
  text-align: center;
}

.style_colors{
  display: flex;
}

.style_color{
  width: 22px;
  height: 22px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.style_color:nth-child(1){
  background-color: #4285f4;
}

.style_color:nth-child(2){
  background-color: #ea4335;
}

.style_color:nth-child(3){
  background-color: #fbbc05;
}

.style_color:nth-child(4){
  background-color: #34a835;
}

h3{
  color: white;
}

img{
  width: 80%;
  height: 70%;
  border-radius: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
